$core-portal-color-primary: #9d85ef;

.nav-list {
  --horizontal-buffer: var(--global-space--section-left);
  --vertical-buffer: 0.75rem;
  width: fit-content;
  min-width: 100%;
  list-style: none;
  flex-direction: column;
}

.nav-link {
  min-width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  padding-left: var(--horizontal-buffer);
  color: #707070;
  cursor: pointer;
  display: block;
}
.nav-link:hover {
  color: $core-portal-color-primary;
  text-decoration: none;
}

.nav-link.active {
  background: rgba($core-portal-color-primary, 0.25);
}

.nav-text {
  padding-left: 16px;
  font-size: 0.75rem;
  font-weight: 500;
}

.nav-content {
  display: flex;
  align-items: center;
}
